
# Azure Functions artifacts
bin
obj
appsettings.json
local.settings.json

# Azurite artifacts
__blobstorage__
__queuestorage__
__azurite_db*__.json


# Compiled Object files
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll
*.pdb

# Compiled Static libraries
*.a
*.lib

# Executables
*.exe
azfnmattindlang

# DUB
.dub
docs.json
__dummy.html
docs/

# Code coverage
*.lst
